.favs-container > div.card {
  max-width: 300px;
  min-width: 300px;
  margin: 10px 10px 0 0;
}
.orange {
  color: orange;
}
.card-header {
  border: 0;
}
img.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
